fastapi
uvicorn[standard]
#Deploy
gunicorn
#typing 
datetime 
uuid
PyJWT
pydantic
mypy
jinja2
python-dotenv
bcrypt
records
tablib
pandas
#file
pathlib
python-multipart
#base de datos
mariadb
psycopg2
redis
aioredis
#ORM
sqlalchemy
medoo
#webSocket
websockets
#MMQ
pika
#Test
rich
pytest
logging
orjson
#Middleware
fastapi_etag
#logs
icecream